.edit-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 calc(var(--body-padding) * 2);
}

.profile-image-container {
  padding-top: calc(var(--default-padding) * 3);
  padding-bottom: calc(var(--default-padding) * 2);
}

.profile-input {
  width: var(--profile-edit-img);
  border: 1px solid red;
  display: none;
}

.profile-img {
  width: var(--profile-edit-img);
  border-radius: 50%;
  border: 1px solid var(--sub-grey);
  aspect-ratio: 1;
  object-fit: cover;
  cursor: pointer;
}

.section {
  width: 100%;
}

.section-title {
  font-size: 1rem;
  font-weight: 500;
}

.input-row {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;
}

.input {
  background-color: white;
  border: 1px solid var(--sub-grey);
  border-radius: 5px;
  padding: 0.4em 0.8em;
  font-size: 0.9rem;
  width: 100%;
  flex: 3;
}

.duplicate-check-button {
  background-color: var(--sub-grey);
  border: none;
  border-radius: 5px;
  padding: 0 0.5em;
  font-size: 0.9rem;
  font-weight: 500;
  width: 100%;
  flex: 1;
  cursor: pointer;
}

.error-message {
  color: red;
  font-size: 0.8rem;
  text-align: left;
  padding-top: 3px;
  padding-left: 3px;
}

.default-message {
  color: var(--main-grey);
  font-size: 0.8rem;
  text-align: left;
  padding-top: 3px;
  padding-left: 3px;
}

.check-message {
  color: var(--sub-color);
  font-size: 0.8rem;
  text-align: left;
  padding-top: 3px;
  padding-left: 3px;
}
