.set-location {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding: calc(var(--default-padding) * 1.5) var(--body-padding);
  width: 100%;
}

.location-icon {
  height: 26px;
}

.info__input {
  background-color: white;
  padding: 0.4em 0.8em;
  font-size: 0.9rem;
  border: 1px solid var(--sub-grey);
  border-radius: 5px;
  width: 100%;
  flex: 3;
}

.input-button {
  background-color: var(--sub-grey);
  padding: 0.4em 0.1em;
  font-size: 0.9rem;
  border: none;
  border-radius: 5px;
  width: 100%;
  font-weight: 500;
  flex: 1;
  cursor: pointer;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 100vh;
  max-width: 1024px;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 30; /* 팝업 최상위 */
}

.map {
  height: calc(var(--map-height) * 1.5);
  background-color: azure;
}
