.facility-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  background-color: white;
}

.main-img {
  width: 90px;
  height: 60px;
  object-fit: cover;
  border-radius: 3px;
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.text-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.name {
  font-weight: 500;
}

.type,
.distance,
.public {
  font-size: 0.9rem;
  color: var(--main-grey);
}
