.new-review {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 60px);
  padding: 0 var(--body-padding);
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: calc(2.5 * var(--default-padding));
}

.input-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.section-title {
  font-size: 1rem;
  font-weight: 500;
  padding-top: calc(var(--default-padding) * 2);
  padding-bottom: calc(0.3 * var(--default-padding));
}

.review__input {
  background-color: white;
  padding: 0.6em 1em;
  font-size: 0.9rem;
  border: 1px solid var(--sub-grey);
  border-radius: 5px;
  width: 100%;
  flex: 3;
}

.input-row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 5px;
}

.review-detail-input {
  background-color: white;
  padding: 0.8em 1em;
  font-size: 0.9rem;
  border: 1px solid var(--sub-grey);
  border-radius: 5px;
  width: 100%;
  height: 40vh;
}
