.community-comment {
  display: flex;
  flex-direction: column;
  padding: calc(var(--default-padding) * 0.5) 0;
}

.info-wrapper {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: space-between; /* dots-icon을 오른쪽 끝으로 */
}

.profile-img {
  width: 30px;
  border-radius: 50px;
  aspect-ratio: 1;
}

.nickname {
  font-size: 0.9rem;
  flex-grow: 1; /* 텍스트 영역 확장 */
}

.dots-menu-icon {
  width: 13px;
}

.content {
  font-size: 0.9rem;
  padding-top: calc(var(--default-padding) * 0.7);
}
