.home-page {
  width: 100%;
}

.home__contents {
  padding: 0 var(--body-padding);
}

.home__section {
  padding: var(--default-padding) 0;
}

.program-list,
.category-list {
  display: flex;
  flex-direction: row;
  gap: 8px;
  overflow-x: auto;
  white-space: nowrap;
}

.community-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: calc(var(--body-padding) * 4);
}

.home__subtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding-bottom: calc(var(--default-padding) * 0.5);
  font-size: 1.1rem;
  font-weight: 600;
  background-color: var(--white);
}

.home__right-icon {
  width: 13px;
}

.empty-message {
  text-align: center;
  padding-top: 40%;
  color: var(--main-grey);
  font-size: 0.9rem;
}
