.community-item-for-home {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  background-color: white;
  border: 1px solid var(--sub-grey);
  background-color: white;
  border-radius: 10px;
  padding: 15px;
}

.info-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.profile-img {
  width: 25px;
  aspect-ratio: 1;
  object-fit: cover;
  height: auto;
  border-radius: 50%;
  flex-shrink: 0;
}

.nickname {
  font-size: 0.9rem;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

.title {
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content {
  font-size: 0.9rem;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.footer-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  padding: 0 2px;
  padding-top: 5px;
  justify-content: space-between;
  font-size: 0.8rem;
  color: var(--main-grey);
}

.count-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.count-icon {
  width: 15px;
}

.like-count {
  color: var(--sub-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
  font-size: 0.8rem;
}

.save-count {
  color: var(--main-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
  font-size: 0.9rem;
}
