.facility-category-item {
  width: calc((100% / (var(--main-program-num) * 2)) - 8px);
  max-width: 100px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  flex-shrink: 0;
  background-color: white;
}

.category-img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  height: auto;
  border-radius: 3px;
  flex-shrink: 0;
  border-radius: 50%;
}

.name {
  font-size: 0.95rem;
}
