.sidetab {
  position: fixed;
  top: 0;
  left: var(--side-tab-left);
  height: 100%;
  background-color: var(--white);
  color: var(--black);
  z-index: 30;
  max-width: 500px;
  width: 80vw;
}

.sidetab__logo {
  font-family: var(--font-family-logo);
  color: var(--main-color);
  font-size: var(--font-size-logo);
  height: 100px;
  text-align: start;
  align-items: center;
  display: flex;
  padding-left: var(--body-padding);
  padding-right: calc(2 * var(--body-padding));
}

.sidetab__menus {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.sidetab__menus li {
  padding: 0.8em 0;
  cursor: pointer;
  font-size: 1rem;
  padding-left: var(--body-padding);
}

.menu__selected {
  color: var(--main-color);
  background-color: var(--very-light-grey);
  font-weight: 500;
}
