.menu-tab {
  position: fixed;
  top: 0;
  left: var(--side-tab-left);
  z-index: 30;
  width: 80vw;
  max-width: 500px;
  height: 100%;
  background-color: var(--white);
  color: var(--black);
}

.menu-tab__logo {
  display: flex;
  align-items: center;
  height: 100px;
  padding-left: var(--body-padding);
  padding-right: calc(2 * var(--body-padding));
  text-align: start;
  font-family: var(--font-family-logo);
  font-size: var(--font-size-logo);
  color: var(--main-color);
}

.menu-tab__menu-list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.menu-tab__menu-list li {
  padding: 0.8em 0;
  padding-left: var(--body-padding);
  font-size: 1rem;
  cursor: pointer;
}

.menu-item--selected {
  background-color: var(--very-light-grey);
  color: var(--main-color);
  font-weight: 500;
}
