.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 60px);
  padding: 0 calc(2.5 * var(--default-padding));
}

.login__title {
  font-size: 1.5rem;
  font-weight: 600;
}

.login__img {
  height: 400px;
  width: 100%;
  margin: 25px 0;
  background-color: grey;
}

.login__kakao {
  width: 100%;
}

.kakao-login {
  background-color: #fee500;
  padding: 0.8em;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.kakao-login__symbol {
  padding-right: 10px;
}

.kakao-login__text {
  font-size: 1rem;
  font-family: var(--font-family-kakao);
  font-weight: 500;
}
