.classification-header {
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 30;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid var(--sub-grey);
  background-color: white;
}

.classification {
  padding: 0.5em 1.2em;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.selected {
  border-bottom: 2px solid black;
}
