.community-post {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.post-wrapper {
  background-color: var(--white);
  padding: 0 var(--body-padding);
  padding-bottom: calc(var(--default-padding) * 1.5);
  padding-top: calc(var(--default-padding) * 0.7);
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--sub-grey);
}

.post-info-wrapper {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  padding-bottom: calc(var(--default-padding) * 1);
}

.info-img {
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50px;
}

.info-text {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* 텍스트 영역 확장 */
}

.nickname {
  font-size: 0.9rem;
}

.date {
  color: var(--main-grey);
  font-size: 0.8rem;
}

.dots-menu-icon {
  width: 15px;
}

.post-title {
  font-size: 1rem;
  font-weight: 500;
  padding-bottom: calc(var(--default-padding) * 0.3);
}

.post-content {
  font-size: 1rem;
  padding-bottom: calc(var(--default-padding) * 1.2);
}

.post-img {
  width: calc(var(--body-padding) * 13);
  border: 1px solid var(--sub-grey);
  aspect-ratio: 1.5;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: calc(var(--default-padding) * 1.2);
}

.service-wrapper {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
}

.post-button-wrapper {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.button {
  background-color: white;
  border: 1px solid var(--sub-grey);
  color: var(--main-grey);
  border-radius: 7px;
  padding: 0.3em 0.6em;
  font-size: 0.7rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
}

.like-active {
  color: var(--sub-color);
  border-color: var(--sub-color);
}

.save-active {
  color: var(--main-color);
  border-color: var(--main-color);
}

.count-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.button-icon {
  width: 14px;
}

.count-icon {
  width: 18px;
}

.like-count {
  color: var(--sub-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
  font-size: 0.9rem;
}

.save-count {
  color: var(--main-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
  font-size: 0.9rem;
}

.comment-wrapper {
  background-color: var(--white);
  padding: 0 var(--body-padding);
  padding-top: calc(var(--default-padding) * 1.5);
  padding-bottom: var(--default-padding);
  display: flex;
  flex-direction: column;
}

.comment-title {
  font-size: 1rem;
  font-weight: 600;
}

.comment-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.comment-list > *:not(:last-child) {
  border-bottom: 1px solid var(--sub-grey);
  padding-bottom: 15px;
}

.comment-input-wrapper {
  background-color: white;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: var(--default-padding) var(--body-padding);
}

.comment-input-box {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  border: 1px solid var(--sub-grey);
  border-radius: 5px;
  background-color: white;
  margin: auto;
  padding: 0 10px;
}

.comment-input {
  border: none;
  padding: 6px 0;
  font-size: 0.9rem;
  width: 100%;
}

.comment-input::placeholder {
  color: var(--main-grey);
  font-size: 0.85rem;
}

.comment-submit-icon {
  width: 20px;
  cursor: pointer;
}

.empty-message {
  text-align: center;
  padding-top: 10%;
  color: var(--main-grey);
  font-size: 0.9rem;
}
