.new-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 60px);
  padding: calc(var(--default-padding) * 1.2) var(--body-padding);
  align-items: start;
}

.title {
  background-color: white;
  padding: 0.8em 1em;
  font-size: 0.9rem;
  border: none;
  border-bottom: 1px solid var(--sub-grey);
  width: 100%;
}

.content {
  background-color: white;
  padding: 0.8em 1em;
  font-size: 0.9rem;
  border: none;
  width: 100%;
  height: calc(100vh - 85px - var(--body-padding) - 6rem);
}

.img-icon {
  width: 25px;
  position: fixed;
  bottom: calc(var(--body-padding) + 0.9rem);
  left: calc(var(--body-padding) + 0.9rem);
}
